@page "/contact"

<PageTitle>Contact</PageTitle>

Vous pouvez m'envoyer un mail à l'adresse <a href="mailto:thibaut_hbt@hotmail.fr">thibaut_hbt@hotmail.fr</a>.
<br/>
Je suis également sur <a href="https://fr.linkedin.com/in/thibaut-hebert-henriette">LinkedIn</a>.

